[Level0-1Pt1]
1=嘿！我的朋友，好久不见.
2=上次见到你是很久之前了呢.
3=现在掌握器械的能力怎么样了？
4=可能已经忘干净了吧，需要我帮{0}你复习吗？
[Level0-1Pt2.Yes]
1=好的，那现在开始吧！
[Level0-1Pt2.No]
1=记性很好嘛，朋友！
2=那一群讨厌的僵尸要来了，
3=用你的经验布置你的器械击退它{0}们吧！
[Level0-1End]
1=这是蓝图!
2=他上面写明了一种器械该如何{0}被制作与放置，
3=也就是说，新的器械可以被使用{0}了！
4=当然是你，不是我！
[Level0-1Tour]
1=太棒了
2=你已经完成了教程
3=正说着呢，那群僵尸又进攻了{0}过来
4=用你所学的击退它们吧