{"Weapons":[{"name":"脉冲发射器","cost":100,"maxcd":"A","weight":2700},{"name":"熔炉","cost":50,"maxcd":"A","weight":2400},{"name":"黑曜石","cost":50,"maxcd":"C","weight":2600},{"name":"重型压力板","cost":25,"maxcd":"C","weight":1700},{"name":"箭袋","cost":125,"maxcd":"B","weight":100}]}